node_modules
**/node_modules
.pnpm-store

.next
**/.next
out
dist
build
.turbo
*.tsbuildinfo

packages/db/generated

apps/*/public/certificate-assets

.env
.env.*
!.env.example

*.pem
*.key
*.p12
*.pfx
ca-certificate.crt
ca.pem
.cert
.certs

data
tmp-exports

*.log

.git
